---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="隅田川.dev へようこそ">
  <main>
    <div>
      <img class="icon" src="icon.svg" alt="隅田川.dev のアイコン画像" width="256" height="256" />
    </div>
    <div>
      <Card
        title="隅田川.dev とは？"
        body="もっと詳しく"
        href="https://scrapbox.io/lacolaco/%E9%9A%85%E7%94%B0%E5%B7%9D.dev"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-rows: 70% 30%;
    place-items: center;
    margin: auto;
    height: 100%;
    padding: 1.5rem;
  }
  .icon {
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: contain;
    border-radius: 32px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }
</style>
